body{
    background-color: bisque;
}
.form{width:300px;;
    height:350px;;
    background-color: gold;
    font-style: oblique;
    color:black;
    border: 5px solid;
    border-color: black;
    font-size:large;
 
margin-top: auto;
margin-bottom: auto;
margin-left:auto;
margin-right: auto;
    
}
#submit:hover{ 
    background: green;
    color: greenyellow;
    }
#feild{align-items: center;
    margin-top:auto;
    margin-bottom: auto;
    margin-left: 600px;
    margin-right: 5000px;
}
#name:required{
    background-color: aliceblue;

}
#title{margin-top:100px;
    text-align: center;
    color: yellowgreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;

}
#screen{
    width: 500px;
    height:500px;
}
div p{
    color: blue;
}